<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.callee.calleeclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <receiver android:name=".activities.HomeActivity$HomeBReceiver"/>
        <receiver android:name=".activities.ChatActivity$ChatBReceiver"/>

        <activity android:name=".activities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:noHistory="true">

        <intent-filter>
            <action android:name="android.intent.action.VIEW" /> <!--for deep linking-->
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".activities.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.callee.calleeclient.activities.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
        />

        <service android:name=".services.UpdateService"
            android:exported="false"
            android:enabled="true">
        </service>

        <receiver android:name=".services.UpdateService$RestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            />

        <receiver android:name=".services.UpdateService$StartOnBootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="onBootStartService"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.REBOOT"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>